.Home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}


.title {
    max-width: 100%;
    font-size: 350%;
    margin-top: 5%;
    margin-bottom: 2;
}